<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.mappers.VegetableMapper">

<insert id="saveVegetable" parameterType="Shangpin" >
insert into shangpin(Name,price_hight,price_ave,price_low,spec,unit,public_date,catalog_name) 
values(#{Name},#{price_hight},#{price_ave},#{price_low},#{spec},#{unit},#{public_date},#{catalog_name})
</insert>

<select id="selectVegetable" parameterType="QueryVo" resultType="Shangpin">
select*from shangpin 
 <where>  
     <if test="name!=null and name!=''">
     and name =#{name}
     </if>
        <if test="data1!=null and data1!=''">  
         and public_date &gt;#{data1}    
        </if>  
        <if test="data2!=null and data2!=''">  
        and  public_date &lt;#{data2}  
        </if>  
       </where>    
</select>
</mapper>